*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.vh{
    height: 100vh;
    position: relative;
}
.jumbo{
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.floatL{
    float: left;
}
.floatR{
    float: right;
}
nav{
    float: left;
    
    
}
    
.conteiner-1{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    
}
ul{
    list-style: none;
    display: inline-block;
    
    
    
}
li{
    display: inline-block;
    color: white;
    font-size: 15px;
    
}
.button{
    border: 2px solid black;
    height: 40px;
    width: 80px;
    line-height: 35px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    
    
}
.posizione{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.text1{
    text-align: left;
    width: 300px;
    margin-top: 350px;
    margin-right: 150px;
    font-size: 40px;
    
}
.text2{
    text-align: left;
    width: 300px;
    margin-right: 150px;
    font-size: 20px;
}
    

.button-1{
    border: 2px solid black;
    height: 60px;
    width: 150px;
    line-height: 60px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    display: inline-block
    

}
.button-2{
    display: inline-block;
    border: 2px solid black;
    height: 60px;
    width: 150px;
    line-height: 60px;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.button-1 .button-2{
    text-align: center;
}
.item1{
    margin-left: 100px;
    margin-top: 350px;
    
}
section{
    text-align: center;
}


    

    

    


